//Colours

// $white: #ffffff;
// $black: #000000;

 

//custom clor
$gray-100: #EEEEEE;
$gray-200: #777777;
$gray-300: #f6f6f6;
$gray-400: #6c757d;
$gray-600: #262626;
$gray-800: #808080;


// Color Logo
$logo-color: #466e82;
$black: #000;
